:root{

  /* Components */
  --card-radius: .5rem;
  --card-padding: 1rem;

  /* Layout */
  --pillar-width: 1200px;
  --page-padding: 1rem;

  /* Typography */
  --readable-width: 55ch;
  --body-font-family: Seravek, 'Gill Sans Nova', Ubuntu, Calibri, 'DejaVu Sans', source-sans-pro, sans-serif;
  --body-font-weight: 400;
  --heading-font-family: Rockwell, 'Rockwell Nova', 'Roboto Slab', 'DejaVu Serif', 'Sitka Small', serif;
  --heading-font-weight: 400;
  --body-base-size: 1rem;
  --heading-base-size: 1.5rem;

}